<div class="parallax-container">
    <div class="parallax"><img src="assets/images/bck1.jpg"></div>
  </div>
  <div class="section white">
    <div class="row container">
      <h2 class="header">A propos de nous</h2>
      <p class="grey-text text-darken-3 lighten-3">
        Monga est une société Française spécialisée dans la conception, la fabrication et la commercialisation via des franchises de vêtements et accessoires, pour femme et pour homme. Nous sommes très implantés en région Parisienne et nous utilisons Apparel pour gérer nos articles! 
      </p>
    </div>
  </div>
  <div class="parallax-container">
    <div class="parallax"><img src="assets/images/bck2.jpg"></div>
  </div>
